nav {
    background-color: #343a40;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    font-size: 14px;
    padding: 20px;
    justify-content: flex-start;
    align-items: center;
    
}
.logo img{
    padding: 0;
    top: 0;
    left: 0;
    width: auto;
    height: 100px;
}
#main-nav div{
    top: 0;
    left: 0;
    right: 0;
    font-size: 18px;
    padding: 25px;
    justify-content: space-between;
    align-items: center;
    float: left;
}
.nav-link {
    color:white;
    text-decoration: none;
}
#layoutContent{
    margin-top: 128px;
    margin-bottom: 20px;
    padding: 10px 20px 10px 20px;
    font-size: 16px;
}
.sectionTitle {
    color: #b02b2c;
    border-bottom: 0px solid black;
    text-decoration: none;
    font-size: 22px;
    font-variant: common-ligatures;
    font-weight: bold;
    margin-top: 40px;
    text-align: center;
    margin: 20px;
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.sectionTitle form {
    margin-top: 20px;
    border-bottom: 0px solid black;
    text-decoration: none;
    margin: 20px;
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.sectionTitle form div {
    padding: 0;
    margin: 12px 5px 5px 26px;
    margin-bottom: 15px;
}
.sectionTitle form label {
    width: 16%;
    text-align: left;
    display: block;
}

.sectionTitle form span {
    display: block;
    color:black;
    text-align: left;
    padding: 8px;
    margin-top: -33px;
    margin-left: 20%;
    box-sizing: border-box;
}
#ruolo {
    font-variant: normal;
}
footer {
    display: block;
    padding-top: 20px;
    padding-bottom: 10px;
    border-top: solid 1px lightgray;
}
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    box-sizing: border-box;
    flex: 0 0 50%;
    justify-content: space-around;
}
.footer_left {
    text-align: left;
}
.footer_left a , .footer_left a{
    text-decoration: none;
    color: #007bff;
    background-color: transparent;
}
.footer_left img {
    width: 100%;
    height: 35px;
    padding: 12px;
    vertical-align: middle;
    border-style: none;
}
.footer_right {
    text-align: right;
}
.footer_right img {
    width: 11%;
    height: 35px;
    padding: 12px;
    vertical-align: middle;
    border-style: none;
}